body{
  background-image: url(http://i68.tinypic.com/20078yc.png);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: right;
  background-color: #F59D3C;
}

#displayBox {
  background-color: #954997;
  font-size: 50px;
  width: 48%;
  height: 50px;
  text-align: right;
  padding: 2px 5px 15px 5px;
  font-family: 'Fredoka One', cursive;
  border-radius: 4px;
  color: #fff;
}

#numberBox {
  height: 588px;
  width: 48%;
  text-align: center;
  }

#rowOne {
  font-size: 20px;
  border: none;
  color: white;
  padding: 15px 0px 15px 0px;
  font-size: 25px;
}

#rowTwo {
  font-size: 20px;
  border: none;
  color: white;
  padding-bottom: 15px;
  font-size: 25px;
}

#rowThree {
  font-size: 20px;
  border: none;
  color: white;
  padding-bottom: 15px;
  font-size: 25px;
}

#rowFour {
  font-size: 20px;
  border: none;
  color: white;
  padding-bottom: 15px;
  font-size: 25px;
}

.operators{
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  background-color: #c23228;
}

.actions {
  font-size: 14px;
  padding: 20px;
  margin: 5px;
  background-color: #c23228;
}



/* fix background & make calculator transparent */


button.numbers {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  width: 113px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  color: #F1D7C5;
  box-shadow: #954997 0 0px 0px 1px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  background-color: #954997;
  font-size: 24px;
  padding: 20px;
  margin: 4px;
}

button.numbers:hover {
  color: #000000;
  box-shadow: rgba(211, 164, 214, 0.8) 0 0px 0px 40px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
}

button.operators {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  width: 110px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  color: rgba(0, 0, 0, 1);
  box-shadow: #A7CB46 0 0px 0px 1px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  background-color: #A7CB46;
  font-size: 24px;
  padding: 20px;
  margin: 4px;

}

button#equals {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  width: 328px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 0.7) 0 0px 0px 0px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;

}

button.operators:hover {
  color: #ffffff;
  box-shadow: rgba(134, 165, 48, 0.8) 0 0px 0px 40px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
}

button#equals:hover {
  color: #ffffff;
  box-shadow: rgba(134, 165, 48, 0.8) 0 0px 0px 40px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
}


button.actions {
   -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  width: 155px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  color: #000000;
  box-shadow: #ffcc96 0 0px 0px 1px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  background-color: #ffcc96;
  font-size: 12px;
  margin: 5px;
  padding: 20px;
  height: 64px;

}


button.actions:hover {
  color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(245, 157, 60, 0.45) 0 1px 0px 40px inset;
  border: 0px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
}